<div class="session-page-header">
  <h2 class="header-large">인증이메일 전송</h2>
  <h3 class="header-small">CEO MBA에서 가치를 공유해보세요.</h3>
</div>

<hr>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <div class="field-wrapper clear" style="padding: 30px 0; padding-top: 40px;">
    <%= f.label :email, "이메일 주소", :class => "form-label-inline", :style => "width: 200px;" %>
    <%= f.email_field :email, :autofocus => true, :style => "width: 230px; display: block; float:left;" %>
    <div style="float: left; margin-left: -100px;"> <%= devise_error_messages! %> </div>
  </div>

  <hr>

  <div style="position: relative; padding-top: 20px;">
    <div class="btn-signup" style="position: absolute; right: 10px;">
      <%= f.submit "확인"%>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
