<div class="session-page-header">
  <h2 class="header-large">프로필
    <small>프로필은 나의 얼굴입니다.</small></h2>
</div>


<div class="profile-wrapper" style="padding-bottom:30px">
  <h3 class="profile-section-header">
      <span>기본정보</span>
  </h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field-wrapper clear">
    <%= f.label :email, "이메일", :class => "form-label-inline profile-edit" %>
    <span style="margin-left: 17px;font-size: 16px; color: #fff; line-height:30px"><%= resource.email%></span>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field-wrapper clear">
  <%= f.label :password, "새 비밀번호", :class => "form-label-inline profile-edit"%>
    <%= f.password_field :password, :autocomplete => "off", style: "margin-left: 17px;" %>
  </div>

  <div class="field-wrapper clear">
    <%= f.label :password_confirmation, "비밀번호 확인", :class => "form-label-inline profile-edit", style: "margin-left: 17px;" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field-wrapper">
    <%= f.label :name, "이름", :class => "form-label-inline profile-edit" %>
    <span style="margin-left: 17px; font-size: 16px; color: #fff; line-height: 30px;"><%= resource.name%></span>
  </div>

  <div class="field-wrapper clear">
    <%= f.label :name, "전문분야", :class => "form-label-inline profile-edit" %>

    <div style="float: left">
      <%= render partial: "/professionals/expert_categories", locals: {f: f}%>
    </div>
  </div>

  <h3 class="profile-section-header"><span>추가정보</span></h3>

  <div class="field-wrapper clear">
    <%= f.label :profile_photo, "사진", :class => "form-label-inline profile-edit" %>
    <div style="float: left;">
      <img id="user_profile_photo_preview" src="<%= current_user.profile_photo.square300.url %>" style="border:1px solid #ddd; width: 120px; height: 120px;margin-left: 17px"><br/>
      <%= f.file_field :profile_photo, style: "margin-left: 17px;" %>
    </div>

    <div style="float: left;">
      <%= image_tag('/assets/newdesign/img_photo_guide.png') %><br>
      <p style="font-size: 15px; color: white; text-align: center; line-height: 120%; margin-top: 10px;">
        얼굴이 중앙에 위치한 사진이 좋습니다.<br>
        사진이 가로, 세로로 길어도 얼굴이 중앙에만 있다면 OK!
      </p>
    </div>
  </div>

  <script>
    $(function() {
      var $preview = $("#user_profile_photo_preview");
      $("#user_profile_photo").change(function(event) {
        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function(event) {
          $preview.attr("src", event.target.result);
        };
        reader.readAsDataURL(file);
      });
    });
  </script>

  <hr style="height:1px; border:0; background-color:#F9D24C; margin-bottom: 20px;">

  <div class="field-wrapper">
    <%= f.label :company_id, "소속", :class => "form-label-inline profile-edit" %>
    <span style="margin-left: 17px">
      <%= f.select :company_id, Company.all.map {|c| [c.name, c.id]}, { include_blank: true}, {class: 'chosen-select', "data-placeholder" => "소속 회사"} %>
    </span>
    <script>
      $(function() {
        $(".chosen-select").chosen({
          width: '200px',
          no_results_text: "<a onclick='add_new_company(event);' href='#'>다음의 회사를 추가 : </a>"
        })
      });

      function add_new_company(e) {
        var name = $("#user_company_id_chosen .chosen-search input").val();
        $("#user_company_id").append("<option value='-1,"+name +"'>" + name + "</option>");
        $("#user_company_id").trigger("chosen:updated");
        e.preventDefault();
        e.stopPropagation();
      }
    </script>
  </div>

  <hr style="height:1px; border:0; background-color:#F9D24C; margin-bottom: 20px;">

  <div class="field-wrapper">
    <%= f.label :position, "직책", :class => "form-label-inline profile-edit" %>
    <%= f.text_field :position, style: "margin-left: 17px;" %>
  </div>

  <hr style="height:1px; border:0; background-color:#F9D24C; margin-bottom: 20px;">

  <div class="field-wrapper">
    <%= f.label :career, "커리어", :class => "form-label-inline profile-edit" %>
    <%= f.text_area :career, :style => "height: 100px; margin-left: 17px; width: 300px;" %>
  </div>

  <div class="field-wrapper">
    <%= f.label :contact, "연락처", :class => "form-label-inline profile-edit"%>
    <%= f.text_area :contact, :style => "height: 100px; margin-left: 17px; width: 300px;" %>
    <span style="font-size: 16px; color: white; margin-left: 15px;">블로그, 소셜, 홈페이지등의 연락처</span>
  </div>
  <div class="field-wrapper">
    <%= f.label :introduction, "자기소개", :class => "form-label-inline profile-edit" %>
    <%= f.text_area :introduction, :style => "height: 200px; margin-left: 17px;" %>
  </div>

  <%= f.submit "프로필 수정하기", style: "margin:0 auto; display:block; width: 293px; height:65px; border: 0; color: white; font-size: 20px; line-height:59px; padding-top:0; cursor:pointer; margin-top: 15px;", class: "bg-btn-blue"%>
<% end %>
</div>
