<hgroup class="session-page-header">
  <h2 class="header-large">프로필 수정</h2>
  <h3 class="header-small">CEO MBA에서 가치를 공유해보세요.</h3>
</hgroup>

<hr>

<h3 class="profile-section-header">* 기본정보</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field-wrapper">
    <%= f.label :email, "이메일", :class => "form-label-inline", :style => "width: 130px" %>
    <span style="font-size: 15px; color: #58585b;"><%= resource.email%></span>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field-wrapper">
    <%= f.label :password, "새 비밀번호", :class => "form-label-inline", :style => "width: 130px;" %>
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div class="field-wrapper">
    <%= f.label :password_confirmation, "비밀번호 확인", :class => "form-label-inline", :style => "width: 130px;" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field-wrapper">
    <%= f.label :name, "이름", :class => "form-label-inline", :style => "width: 130px" %>
    <span style="font-size: 15px; color: #58585b;"><%= resource.name%></span>
  </div>

  <div class="field-wrapper clear">
    <%= f.label :name, "전문분야", :class => "form-label-inline", :style => "width: 130px;" %>

    <div style="float: left; width: 825px;">
      <%= render partial: "/professionals/expert_categories", locals: {f: f}%>
    </div>
  </div>

  <hr>

  <h3 class="profile-section-header">* 추가정보</h3>

  <div class="field-wrapper">
    <%= f.label :profile_photo, "사진", :class => "form-label-inline", :style => "width: 130px;" %>
    <img id="user_profile_photo_preview" src="" style="border:1px solid #ddd; width: 120px; height: 120px;">
    <%= f.file_field :profile_photo %>
  </div>

  <script>
    $(function() {
      var $preview = $("#user_profile_photo_preview");
      $("#user_profile_photo").change(function(event) {
        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function(event) {
          $preview.attr("src", event.target.result);
        };
        reader.readAsDataURL(file);
      });
    });
  </script>

  <div class="field-wrapper">
    <%= f.label :company_id, "소속", :class => "form-label-inline", :style => "width: 130px;" %>
    <%= f.select :company_id, Company.all.map {|c| [c.name, c.id]}, { include_blank: false}, {class: 'chosen-select'} %>

    <script>
      $(function() {
        $(".chosen-select").chosen({width: '200px'})
      });
    </script>
  </div>

  <div class="field-wrapper">
    <%= f.label :position, "직책", :class => "form-label-inline", :style => "width: 130px;" %>
    <%= f.text_field :position %>
  </div>

  <div class="field-wrapper">
    <%= f.label :contact, "연락처", :class => "form-label-inline", :style => "width: 130px;" %>
    <%= f.text_area :contact, :style => "height: 100px;" %>
  </div>

  <div class="field-wrapper">
    <%= f.label :career, "커리어", :class => "form-label-inline", :style => "width: 130px;" %>
    <%= f.text_area :career, :style => "height: 100px;" %>
  </div>

  <div class="field-wrapper">
    <%= f.label :introduction, "자기소개", :class => "form-label-inline", :style => "width: 130px;" %>
    <%= f.text_area :introduction, :style => "height: 200px;" %>
  </div>

  <div><%= f.submit "Update" %></div>
<% end %>
