<div class="session-page-header" style="border-left: 1px solid #17575E;border-right: 1px solid #17575E">
  <h2 class="header-large">회원가입
  <small class="header-small">페이스북 또는 이메일 계정을 통해 회원가입하실 수 있습니다.</small></h2>
</div>

<div style="border-top: 1px solid #17575E; border-left: 1px solid #17575E;max-height: 100%; padding:30px; border-right: 1px solid #17575E">
  <p style="color: #231F20; text-align: center; margin-bottom: 10px; font-size: 20px;">아래의 회원가입 버튼을 누르시면 약관에 동의하는 것으로 간주합니다.</p>
  <%= link_to "회원가입약관", "#", onclick: "show_info_modal('/info/agreement'); return false;", style: "display: block; color: white; text-decoration: none; width: 162px; height: 42px; text-align: center; line-height: 40px; margin: 0 auto;", class: "bg-btn-dark-green" %>
</div>

<div style="float: left; width: 50%; height:375px; border-right: 1px solid #17575E; border-left: 1px solid #17575E;">
  <div style="background-color: #4568b0; padding: 5px; height: 40px; margin-bottom: 100px;">
    <%= image_tag '/assets/newdesign/img_fb_hdr.png', :style => "margin: 0 auto; display: block; margin-bottom: 70px;"%>
  </div>
  <%= link_to "페이스북 계정으로 회원가입",user_omniauth_authorize_path(:facebook), style: "margin:50px auto; display:block;  width: 293px; height:69px; border: 0; color: white; font-size: 20px; line-height:59px; padding-top:0; text-align: center; text-decoration: none;", class: "bg-btn-blue" %>
  <p style="color: #231F20; text-align: center; margin-bottom: 10px; font-size: 15px;">
  위의 회원가입 버튼을 누르시면 페이스북<br>페이지로 이동하여 회원가입 동의를 받습니다.
  </p>
</div>

<div style="float: left; width: 50%; height:375px;border-right: 1px solid #17575E">
  <div style="background-color: #df3e4e; padding: 5px; margin-bottom: 15px; height: 40px; margin-bottom: 50px;">
    <%= image_tag '/assets/newdesign/img_email_hdr.png', :style => "margin: 0 auto; display: block; margin-bottom: 15px;"%>
  </div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.label :email, "이메일", :class => "form-label-inline design2", :style => "width: 120px;" %>
    <%= f.email_field :email, :autofocus => true, :style => "width: 250px; height: 30px; display: block; float:left; margin-bottom: 7px;" %>

    <%= f.label :password, "비밀번호", :class => "form-label-inline design2", style: "width: 120px;" %>
    <%= f.password_field :password, :style => "width: 250px; height: 30px; dislay: block; float: left; margin-bottom: 7px;" %>

    <%= f.label :password_confirmation, "비밀번호 확인", :class => "form-label-inline design2", style: "width: 120px;" %>
    <%= f.password_field :password_confirmation, :style => "width: 250px; height: 30px; dislay: block; float: left; margin-bottom: 7px;" %>

    <%= f.label :name, "이름", :class => "form-label-inline design2", style: "width: 120px;" %>
    <%= f.text_field :name, :style => "width: 250px; height: 30px; dislay: block; float: left;" %>

    <div class="clear"></div>

    <% if resource.errors.any? -%>
      <p style="margin-top: 20px; text-align: center;" >회원가입에 실패했습니다.</p>
      <%= devise_error_messages! %>
    <% end -%>

    <%= f.submit "이메일 계정으로 회원가입", style: "margin:0 auto; display:block;  width: 293px; height:65px; border: 0; color: white; font-size: 20px; line-height:59px; padding-top:0; cursor:pointer; margin-top: 15px;", class: "bg-btn-red"%>

  <% end %>

</div>

