<hgroup class="session-page-header">
  <h2 class="header-large">비밀번호 재설정</h2>
  <h3 class="header-small">CEO MBA에서 가치를 공유해보세요.</h3>
</hgroup>

<hr>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field-wrapper" style="padding-top: 40px;">
    <%= f.label :password, "새 비밀번호", :class => "form-label-inline", :style => "width: 150px;" %>
    <%= f.password_field :password, :autofocus => true, :style => "width: 230px;" %>
  </div>

  <div class="field-wrapper" style="padding-bottom: 30px;">
    <%= f.label :password_confirmation, "비밀번호 확인", :class => "form-label-inline", :style => "width: 150px;" %>
    <%= f.password_field :password_confirmation, :style => 'width: 230px;' %>
  </div>

  <hr>

  <div style="position: relative; padding-top: 20px;">
    <div class="btn-signup" style="position: absolute; right: 10px;">
      <%= f.submit "확인"%>
    </div>
  </div>
<% end %>
