<!DOCTYPE html>
<html>
  <head>
    <title>CEOMBA</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield :header %>
  </head>
  <body>

  <div id="wrapper">
    <div id="gnb" class="clear">
      <div id="login-status">
        <% if signed_in? -%>
          <div style="float: left; margin-right: 20px; margin-top: 10px; color: #231F20; font-size: 16px;"><%= current_user.name %>님 환영합니다! </div>
          <%= link_to '로그아웃', destroy_user_session_path, :method => :delete, :class => "top-menu" %>
          <%= link_to '마이페이지', profile_users_path, :class => "top-menu" %>
        <% else -%>
          <%= link_to "회원가입", new_user_registration_path, :class => "top-menu" %>
          <%= link_to "로그인", new_user_session_path, :class => "top-menu" %>
        <% end -%>

        <%= link_to '사이트 소개', "", onclick: "show_info_modal('/info/ceomba_intro');return false;", :class => "small-menu" %>
        <%= link_to '공지사항', external_notice_board_path, :class => "small-menu" %>
        <div class="clear"></div>

        <div id="search-bar">
          <%= form_tag "/search" do %> 
            <%= image_submit_tag "/assets/newdesign/btn_search.png", class: "submit" %>
            <%= text_field_tag :term, params[:term], :placeholder => "통합검색(제목, 내용, 이름 등)", class: "text" %>
          <% end -%>
        </div>
      </div>

      <h1 id="site-logo" class="hide-text"> <%= link_to 'Logo', root_path %> </h1>
      <ul class="menu">
        <li class="menu-item"><%= link_to "C³ Talk", talks_path %></li>
        <li class="menu-item"><%= link_to "C³ Academy", open_questions_path %></li>
        <li class="menu-item"><%= link_to "C³ Members", professionals_path%></li>
        <li class="menu-item"><%= link_to "C³ Idea", problems_path %></li>
      </ul>
    </div>

    <% if devise_controller? || request.path == profile_users_path || request.path == favorites_users_path %>
      <div class="clear">
        <hr class="hr-gradient">
        <div class="devise-left-menu">
          <%= render "/devise/left_menus"%>
        </div>
        <div class="devise-content">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <%= render '/footer' %>
  </div>

  <script>
    function expire_banner(name) { $.cookie(name, "no"); }
  </script>
  </body>
</html>
