<!DOCTYPE html>
<html>
  <head>
    <title>Ceotalk</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="gnb" class="clear">
      <div id="login-status">
        <% if signed_in? %>
          <%= current_user.name %>님 환영합니다! 
          <%= link_to '마이페이지', edit_user_path(current_user) %>
          <%= link_to '로그아웃', destroy_user_session_path %>
        <% else %>
           <%= link_to "login", new_user_session_path %>
          <%= link_to "join", new_user_registration_path %>
       <% end %>
      </div>
      <h1 id="site-logo" class="hide-text"> <%= link_to 'Logo', root_path %> </h1>
      <ul class="menu">
        <li class="menu-item"><%= link_to "CEO TALK", talks_path %></li>
        <li class="menu-item"><%= link_to "C'League", problems_path %></li>
        <li class="menu-item"><%= link_to "C'CLASS", "#" %></li>
        <li class="menu-item"><%= link_to "C'MEMBERS", professionals_path%></li>
      </ul>
    </div>
    <hr class="shadow-line">
    <%= yield %>

  </body>
</html>
