<!DOCTYPE html>
<html>
<head>
  <title>Ceotalk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="gnb" class="">
  <h1 id="site-logo" class="hide-text"> <%= link_to 'Logo', root_path %> </h1>
  <ul class="menu">
    <li class="menu-item"><%= link_to "CEO TALK", '#' %></li>
    <li class="menu-item"><%= link_to "C'League", "#" %></li>
    <li class="menu-item"><%= link_to "CLASS", "#" %></li>
    <li class="menu-item"><%= link_to "Experts & Corporations", "#"%></li>
  </ul>
  <div id="login-status">
    <span>Login/Sign up</span>
  </div>
</div>
<%= yield %>

</body>
</html>
