<!DOCTYPE html>
<html>
  <head>
    <title>Ceotalk</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield :header %>
  </head>
  <body>

    <div id="gnb" class="clear">
      <div id="login-status">
        <% if signed_in? -%>
          <%= current_user.name %>님 환영합니다! 
          <%= link_to '마이페이지', profile_users_path %>
          <%= link_to '로그아웃', destroy_user_session_path, :method => :delete %>
        <% else -%>
           <%= link_to "login", new_user_session_path %>
          <%= link_to "join", new_user_registration_path %>
       <% end -%>
      </div>
      <h1 id="site-logo" class="hide-text"> <%= link_to 'Logo', root_path %> </h1>
      <ul class="menu">
        <li class="menu-item"><%= link_to "C3 Talk", talks_path %></li>
        <li class="menu-item"><%= link_to "C3 Idea", problems_path %></li>
        <li class="menu-item"><%= link_to "C3 Academy", open_questions_path %></li>
        <li class="menu-item"><%= link_to "C3 Members", professionals_path%></li>
      </ul>
    </div>
    <hr class="shadow-line">
    <% if devise_controller? || request.path == profile_users_path || request.path == favorites_users_path %>
      <div class="clear">
        <div class="devise-left-menu">
          <%= render "/devise/left_menus"%>
        </div>
        <div class="devise-content">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
